
/* Fonts
================================================================ */

// Declare actual typefaces in skeleton/_variables.scss

/******************************************************************
Font 1
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.font-1 {
    font-family: $font-1;
}

/******************************************************************
Font 2
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

.font-2 {
	font-family: $font-2;
}