
/* Dropdown Navigation
   Used in: "modules/_main-nav.scss"
================================================================ */

ul {
	@extend ul.reset;
	text-align: left;
	position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
	padding-top: 6px;
	right: 0;
	min-width: 185px;
	font-weight: 400;
	li {
		display: block;
		text-transform: none;
		a {
			background: rgba(black,0.85);
			color: white;
			line-height: 45px;
		}
		&:hover {
			a {
				background: darken($brand-1, 10%);
			}
			> ul {
				a:hover {
					background: darken($brand-1, 20%);
				}
			}
		}
	}
	ul {
		top: 0;
		right: 100%;
	}
} // end dropdown ul

&:hover ul {
    opacity: 1;
    visibility: visible;
}