
/* Side Bar
======================================================================= */

.side-bar {

	h2 {
		font-family: $font-2;
		font-weight: 300;
	}

	.button {
		margin-bottom: 0.5rem;
	}

} // end .side-bar